.container {
    width: 100%;
}

.nav-high {
    border-radius:  0px;
    display: flex;
    flex-wrap: nowrap;
    list-style: none;
    font-size: .4rem;
}



li {
    list-style: none;
}

p {
    font-size: smaller;
}
/* a {
    margin-top: 5px;
} */

a.nav-links {
    color: black;
    vertical-align: middle;
    line-height: 1.6rem;
    font-size: .6rem;
}

.nav-high .nav-link.active, .nav-pills .show >.nav-link {
    color: #fff;
    background-color: #007bff;
    height: 55px;
    vertical-align: middle;
    line-height: 1.6rem;
    border-radius: 0px!important;
    font-size: .5rem;
}


.top-nav {
    background-color:white;
}

.img-col {
    height: 40px;
    margin-left: 5px;
}

.links-col {
    height: 30px;
    padding: 0px;
}

img.mylogo {
    max-width: 80px;
}

a.navbar-toggler {
    border: 0px;
}

input.search-form {
    margin-top: 7px;
    height: 50%;
    border: 0px;
    padding: 0px;
    background: transparent;
}

::placeholder {
    text-align: right;
    font-size: 70%;
    line-height: -10rem;
}

span.yellow-back {
    background-color:rgba(255, 81, 0, 0.849);
    color: white;
    height: 60%; 
    margin-top: 10%;
    width: 90%;
    font-size: 1%;
    text-align: left;
}

button.search-icon {
    background-color:rgba(255, 81, 0, 0.842);
    color: white;
    border-radius: 50%;
    margin-bottom: 10px;
    padding: 2%;
}

.searchh {
    width: 10px;
}

.navbar-collapse {
    margin-left: 0px!important;
}

.jumbotron {
    text-align: center;
    height: 100%;
    padding-top: 6rem;
    background: transparent;
}

button.learn-button {
    background-color: rgb(255, 81, 0);
    color: white;
    text-align: unset;
}

.head {
    text-align: center;
    background-color: rgba(46, 126, 146, 0.733);
    color: white;
    position: relative;
    top: -18px;
    left: 45%;
    padding: 10px; 
    width: 12%;
    height: 3%;
    max-height: 30px;
}

.head h2 {
    font-size: 70%;
    vertical-align: middle;
    line-height: 1px;
}

h2.service-head {
    color: black;
    font-size: 100%;
    text-overflow: ellipsis;
}

.portfolio-row {
    background-color: #010a11e1;
    padding: 1%;
}

button.show-more {
    background-color: rgba(46, 126, 146, 0.733);
    color: white;
    border: 1px;
    padding: 5px;
    font-size: 9px;
}

img.service-img {
    height: 100%;
    max-height: 180px;
    max-width: 190px;
    min-width: 190px;
    margin-bottom: 10px;
}

img.radius {
    border-radius: 50%;
}

img.service-search {
    width: 30px;
}

img.port-img {
    max-height: 220px;
}

h4.port-head {
    color: rgba(211, 125, 64, 0.801);
    margin: 0px;
    font-size: 100%!important;
}

.portfolio-body {
    margin-top: 15px;
}

.port-awesome {
    padding: 0px;
    margin-left: 18px;
}

.lorem-head{
    margin-top: 3px;
    color: rgba(211, 125, 64, 0.801);
    font-size: 16px;
}

.lorem-p{
    color: white;
}


.offer-row {
    padding: 20px;
    border-bottom: 1px solid black;
}

h3.offer-header {
    color: rgb(87, 145, 212);
    font-weight: bolder;
    text-align: center;
}

p.offer-p {
    text-align: center;
}

p.section-p {
    text-align: unset;
    margin-bottom: 1px;
}


h3.section-head {
    color: rgb(87, 145, 212);
    font-size: 100%;
    font-weight: 900;
}

.offer-sectioncol {
    margin-bottom: 10px;
}

button.details {
    background-color: rgb(87, 145, 212);
    color: white;
    height: 80%;
    font-size: 60%;
    line-height: 1px;
}

.testimonial-row {
    padding: 20px;
}

h3.testimonial {
    color: rgb(87, 145, 212);
    text-align: center;
    font-weight: bolder;
}


p.testimonial-p {
    text-align: center;
    font-size: 1.3rem;
    font-style: italic;
}

p.joindoe {
    text-align: center;
    color: rgb(202, 143, 33);
}

img.avatar-img {
    height: 30px;
    border-radius: 50%;
}

.off-col {
    padding: 0px;
}

.footer-row {
    padding-top: 5%;
    background-color:#010a11e1;
    padding-left: 5px;
}

h3.footer-heading {
    color: rgb(202, 143, 33);
    font-size: 100%;
}

p.footer-content {
    text-align: unset;
    margin-bottom: .2rem;
}

.mail-row {
    margin-top: 5px;
}

input.mail {
    width: 100%;
}

h4.footer-formheading {
    color: rgb(87, 145, 212);
    font-size: 100%;
}

button.signup {
    background-color: rgb(87, 145, 212);
    color: white;
    position: relative;
    left: 60%;
    margin-top: 5px;
    overflow: hidden;
    width: 40%;
    font-size: .8rem;
    padding: .6rem;
    max-height: .5rem;
    line-height: 1px;
}

i {
    color: white;
    height: 40px;
}

img.projects-img {
    width: 100%;
    height: 80%;
}

.last-row {
     border: 0px;
}

a.contact-img {
    font-size: 100%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.contact-row {
    margin-top:  7px;
}

.footer-projects {
    margin-left: -20px;
 }

 .footer-col {
     margin-bottom: 15px;
 }

.collapse link {
    width: 100%;
}

.search-boxx {
    max-width: 325px!important;
}

/* For Medium Devices */
@media screen and (max-width: 992px){
    a {
        text-align: center;
        font-size: 100%;

    }

    .nav-high .nav-link.active, .nav-pills .show >.nav-link {
        color: #fff;
        background-color: #007bff;
        vertical-align: middle;
        line-height: 1.6rem;
        border-radius: 0px!important;
        font-size: .5rem;
        height: 100%;
    }
    

    .head {
        width: 100px;
        top: -10px;
    }

    p.testimonial-p {
        font-size: small;
    }

    h3.footer-heading {
        font-size: 100%;
    }


    p.footer-c {
        margin-bottom: 10px;
        margin-left: -15px;
    }


    .full-row {
        max-height: 110px;
        overflow: hidden;
    }


    button.signup {
        height: 20px;
        line-height: 1px;
        font-size: .4rem;
        position: relative;
        left: 60%;
    }

    input.search-form {
        margin-top: 10px;
        height: 50%;
        border: 0px;
        padding: 0px;
        background: transparent;
    }

    input.mail {
        max-height: 1.1rem;
    }

    .contact-head {
        margin-left: -9px;
    }

    input.search-form {
        width: 50%;
    }

    .head {
        left: 40%;
   }
   .search-boxx {
    max-width: 925px!important;
}
}

@media screen and (max-width: 1020px){
   
}

/* For Extra Small Devices */
@media screen and (max-width: 612px){
    a {
        text-align: center;
        font-size: 100%;
    }
    
    .carousel-caption h1 {
        font-size: 1.6rem;
        /* margin-top: 40px; */
    }

    .carousel-caption p {
        font-size: small;
    }

    img.projects-img {
        width: 100%;
    }

    .footer-projects {
       font-size: .7rem;
       margin-left: -20px;
    }

}