.container {
    width: 100%;
}

.nav-pills .nav-link {
    border-radius: 0px;
    padding: 0px;
    width: 10px;
    height: 30px;
    margin-top: 5px;
}

.nav-high {
    border-radius:  0px;
    display: flex;
    flex-wrap: nowrap;
    list-style: none;
}

li {
    list-style: none;
}

p {
    font-size: smaller;
}
/* a {
    margin-top: 5px;
} */

a.nav-links {
    color: black;
    vertical-align: middle;
    line-height: 1.2rem;
}

.nav-high .nav-link.active, .nav-pills .show >.nav-link {
    color: #fff;
    background-color: #007bff;
    height: 40px;
    vertical-align: middle;
    line-height: 1.2rem;
}

.list-item {
    width: 70px;
    font-size: 15px;
}

/* .nav-link {
    background-color: blue;
} */

.top-nav {
    background-color:white;
    height: 10px;
}

.img-col {
    height: 40px;
    margin-left: 20px;
}

.links-col {
    height: 30px;
    padding: 0px;
}

img.mylogo {
    height: 40px;
    /* width: 40%; */
    max-width: 70px;
}

.search-column {
    padding: 0px;
    margin-top: .4rem;
}

input.search-form {
    border: 0px;
    padding: 0px;
}

::placeholder {
    text-align: right;
}

span.yellow-back {
    background-color:rgba(255, 81, 0, 0.849);
    color: white;
    height: 70%;
}

button.search-icon {
    background-color:rgba(255, 81, 0, 0.842);
    color: white;
    border-radius: 50%;
    height: 50%;
    margin-bottom: 10px;
    padding: 3px;
}

.searchh {
    width: 10px;
}

.home-toprow {
    margin-top: 30px;
    /* background-image: url('utilities/10117-dark-street-clouds-building-748x468.jpg'); */
}

.jumbotron {
    color: white;
    text-align: center;
    height: 100%;
    background-image: url('Utilities/10117-dark-street-clouds-building-748x468.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 6rem;
}

button.learn-button {
    background-color: rgb(255, 81, 0);
    color: white;
    width: 25%;
    text-align: unset;
}

.head {
    text-align: center;
    background-color: rgba(46, 126, 146, 0.733);
    color: white;
    position: relative;
    top: -18px;
    left: 45%;
    padding: 2%;
    width: 12%;
    height: 3%;
}

.head h2 {
    font-size: 11px;
    vertical-align: middle;
    line-height: 1px;
}

h2.service-head {
    color: black;
    font-size: 18px;
    text-overflow: ellipsis;
}

.portfolio-row {
    background-color: #010a11e1;
    padding: 1%;
    /* opacity: .9; */
}

button.show-more {
    background-color: rgba(46, 126, 146, 0.733);
    color: white;
    border: 1px;
    padding: 5px;
    font-size: 9px;
}

img.service-img {
    max-height: 110px;
}

img.radius {
    border-radius: 50%;
}

img.service-cart {
    margin-left:  -20px;
}

img.service-search {
    width: 30px;
}

h4.port-head {
    color: rgba(211, 125, 64, 0.801);
    margin: 0px;
    font-size: 1.4rem;
}

.portfolio-body {
    margin-top: 15px;
}

.port-awesome {
    padding: 0px;
    margin-left: 18px;
}

.lorem-head{
    margin-top: 3px;
    color: rgba(211, 125, 64, 0.801);
    font-size: 16px;
}

.lorem-p{
    color: white;
}

img.port-img {
    height: 50%;
    margin-top: 10px;
    margin-right: 10%;
}

.portimg-col{
    margin-left: 18px;
    margin-right: 20px;
    height: 320px;
}

.offer-row {
    padding: 20px;
    border-bottom: 1px solid black;
}

h3.offer-header {
    color: rgb(87, 145, 212);
    font-weight: bolder;
    text-align: center;
}

p.offer-p {
    text-align: center;
}

h3.section-head {
    color: rgb(87, 145, 212);
    font-size: 1.5rem;
}

p.section-p {
    font-size: 1rem;
}

button.details {
    background-color:  rgb(87, 145, 212);
    color: white;
    margin-left: 50%;
}

.testimonial-row {
    padding: 20px;
}

h3.testimonial {
    color: rgb(87, 145, 212);
    text-align: center;
    font-weight: bolder;
}

p.testimonial-p {
    text-align: center;
    font-size: 1.3rem;
    font-style: italic;
}

p.joindoe {
    text-align: center;
    color: rgb(202, 143, 33);
}

img.avatar-img {
    height: 45px;
    border-radius: 50%;
}

.off-col {
    padding: 0px;
}

.footer-row {
    padding: 40px;
    background-color:#010a11e1;
    padding: 2%;
}

h3.footer-heading {
    color: rgb(202, 143, 33);
}

p.footer-content {
    color: white;
}

.full-row {
    border-bottom: 1px solid rgba(255, 255, 255, 0.575);
    margin-top: 5px;
}

.footer-col {
    margin-left: 10px;
}

.mail-row {
    margin-top: 5px;
}

input.mail {
    width: 100%;
}

h4.footer-formheading {
    color: rgb(87, 145, 212);
}

button.signup {
    background-color: rgb(87, 145, 212);
    color: white;
    position: relative;
    margin-top: 5px;
    font-size: .5rem;
    width: 70px;
    /* max-height: 20px;
    text-overflow: clip; */
    padding: 5px;
    overflow: hidden;
}

i {
    color: white;
    height: 40px;
}

img.projects-img {
    height: 80px;
    margin-right: 1px;
}

.last-row {
     border: 0px;
}

a.contact-img {
    height: 100px;
    font-size: 33px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.contact-row {
    margin-top:  7px;
}

@media screen and (max-width: 718px){
    img.service-img {
        height: 50px;
    }

    p {
        font-size: smaller;
    }

    .head {
        width: 100px;
        top: -10px;
    }

    img.port-img {
        height: 34%;
        margin-top: 10px;
        margin-right: 10px;
    }

    .sectioned-row p {
        font-size: smaller;
    }

    p.testimonial-p {
        font-size: small;
    }

    h3.footer-heading {
        font-size: 1.2rem;
    }

    h4.footer-formheading {
        font-size: .9rem;
    }

    .footer-row {
        font-size: smaller;
    }

    img.projects-img {
        height: 100%;
        width: 40px;
        padding-top: 2px;
        padding-bottom: 10px;
    }

    p.footer-content {
        margin-bottom: 1px;
    }

    a {
        font-size: .6rem;
    }

    .full-row {
        max-height: 110px;
        overflow: hidden;
    }
    
    .news {
        border-bottom: 1px solid rgba(255, 255, 255, 0.637);
    }

    .footer-c {
        font-size: .5rem;
    }

    button.signup {
        height: 20px;
        width: 50px;
        line-height: 1px;
        font-size: .4rem;

    }

    .contact-head {
        margin-left: -9px;
    }
} 

@media screen and (max-width: 745px){
    .head {
        width: 100px;
        top: -10px;
    }

} 